/* Main */


.xsmall-text{
    font-size: x-small;
}
.small-text{
    font-size: medium;
}
.right-justified{
    justify-content: right;
}
.redtext{
    color: darkred;
}
.transparent{
    background: transparent;
}